{% extends "layout/base.html" %}

{% block content %}
<div class = "normalize">

    <h1></h1>
    <section name="input-status" id="input-status">
        <div class="container">
            <form id="box" method="POST" action="{% url 'updateStatus:add_status' %}">
                {% csrf_token %}
                {{ status_form }}
                <br>
                <input style="float: right; font-family:'Muli'" type="submit" value="POST">
            </form>
        </div>
    </section>
    <section name="show-status">
        <div class="container" id="box">
            <h2 style="border-bottom:7px solid #33C980; padding-bottom:7px; font-family:'Muli'">My Status</h2>
            <div class="flex" id="box" style="margin-top:0px">
                {%if status %}
                    {% for data in status %}
                        <div class="flex-item" id="box-item" style="font-family:'Muli'">
                                <img src = "https://kumparan.com/default-user.png"/  style="margin-right:20px;width:70px; height: 70px; border-radius:100%; float:left">
                            <div style="font-size:20px; font-weight:bold; margin-bottom: 10px;">
                                {{ Profile.name }}
                            </div>
                            <div style="font-size: 18px">
                                {{data.activity}} 
                            </div>
                            <div style="font-size:12px">
                                {{data.date}}
                            </div>                         
                            <h2 style="border-bottom:4px solid #33C980; padding-bottom:5px"></h2> 
                        </div>
                    {% endfor %}
                {% else %}
                <div class="alert alert-danger text-center" style="font-family:'Muli'">
                    You haven't posted anything :(
                </div>
                {% endif %}
            </div>
        </div>
    </section>

</div>
{% endblock %}
