
.header-basic {
	margin: 0px auto;
	background-color: white;
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
	position: fixed;
	box-sizing: border-box;
	width: 100%;
	height: 60px;
}

.header-basic .header-limiter {
	padding:10px 70px;
	text-align: center;
}
.header-basic .header-limiter img{
	float:left;
	display: inline-block;
	width:35px;
	height:35px;
}
/* Logo */
.header-basic .header-limiter h1 {
	z-index: 100;
	float: left;
	padding: 0 10px;
	display: inline-block;
	font-size: 30px;
	font-family: 'Muli', sans-serif;
	line-height: 40px;
	font-weight: 700;
	margin: 0;
}
/* The header links */
.header-basic .header-limiter nav{
	font : 20px Helvetica;
	line-height: 40px;
	float: right;
}
.header-basic .header-limiter nav a{
	font-family: 'Ubuntu', sans-serif;
	display: inline-block;
	padding: 0 5px;
	font-weight: 700;
	text-decoration:none;
	color: #000000;
	font-size: 17px;
	opacity: 0.7;
}
.header-basic .header-limiter nav a:hover{
	opacity: 1;
}
.footer-basic{
    background-color: #EEEEEE;
    box-shadow: 1px 5px 7px rgba(0, 0, 0, 0.15);
	padding: 10px 50px;
	box-sizing: border-box;
	position: fixed;
	width: 100%;
    bottom:0px;
}
.footer-basic p{
	font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    padding: 0px 0px;
    float:left;
    margin:0;
}
/* Making the header responsive */

@media all and (max-width: 777px) {

	.header-basic {
		padding: 20px 0;
		height: 85px;
	}

	.header-basic .header-limiter h1 {
		float: none;
		margin: -9px 0 4px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}
	.header-basic .header-limiter img {
		float:none;
		text-align: center;
		width: 20px;
		height: 20px;
	}

	.header-basic .header-limiter nav {
		line-height: 1;
		float:none;
	}

	.header-basic .header-limiter nav a {
		font-size: 15px;
	}

}
/* For the headers to look good, be sure to reset the margin and padding of the body */
body {
	background: #2A7FFF; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(bottom right,#00FBFF, #B9B9B9)fixed; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right,#00FBFF, #B9B9B9)fixed; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right,#00FBFF, #B9B9B9)fixed; /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right bottom, #14B390 , #80CA7D,#B1E0C2)fixed; /* Standard syntax */
	background-repeat: no-repeat;
	margin:0 auto;
	top:0;
	right: 0;
	left: 0;
	bottom: 0;
}