.normalize{
    padding : 70px 70px;
}
.card{
    background-color: white;
    padding : 30px 30px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.15);
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
.card_item{
    border-style: double;
    border-color: #D0FF00;
    padding: 20px 20px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    
}
.col_1{
    width: 20%;
    height: 100%;
    display: inline-block;
}
.row_title{
	font-family: 'Muli', sans-serif;
    height : 10%;
    width  : 100%;
    font-size: 2em;
    margin: 15px;
    display: inline-block;
}
.row_title img{
    height: 15%;
    width: 15%;
    float: left;
    border-radius: 50%;
    overflow: hidden;
}
.row_1{
   font-family: 'Ubuntu', sans-serif;
   width:100%;
   margin: 15px;
   font-size: 18px;
}
.row_1 .friend{
    width: 50%;
    display: inline-block;
}
.row_1 .statistic{
    width: 45%;
    display: inline-block;
} 
.row_1 #block img{
    height: 3.5em;
    width: 3.5em;
    float: left;
    border-radius: 50%;
    margin-right: 10px;
}
.row_1 #block{
    border-left: 3px solid #929292;
    padding-left: 7px;
    width :100%;
}
.row_1 #block .text_in{
    width:10%;
}
.flex-item img{
    width: 4em;
    height: 4em;
    border-radius: 50%;
    overflow: hidden;
    float:left;
}
@media all and (max-width: 777px) {
    .normalize{
        padding-top: 90px;
    }
    .flexfriend{
        padding : 90px 70px;
    }
    .title-and-add{
        padding : 90px 70px;
    }
    .center-and-add{
        padding : 90px 70px;
    }
    .row_title{
        font-size: 2em;
        margin: 20px;
    }
    .card{
        margin: 12px;
    }
    .row_1 blockquote img{
        height: 5em;
        width: 5em;
    }

}

.flex{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-left: 15px;
  }
.flexfriend{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-right: -15px;
    margin-left: -15px;
  }
.flex-item{
    padding: 0 15px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
  }
#border{
    background: gray;
    width: 1000px;
}
#box{
    margin-top: 50px;
    padding: 40px;
    width: 100%;
    border-radius: 2%;
    background: white;
    box-sizing: border-box;
}
#box-item{
    padding: 0px;
    margin-top: 0px;
    width: 100%
}
input[type=submit]{
    background: #33C980;
    color: white;
    padding: 10px 20px;
    border: none;
}
.to-do-list:hover {
    -webkit-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    transform: translate(0, -5px);
}
.to-do-list .to-do-list-title {
  font-size: 20px;
  font-weight: 700;
  padding: 10px 10px 0;
}
.to-do-list .to-do-list-date-added {
  font-size: 12px;
  padding: 0 10px;
}
.to-do-list .to-do-list-description {
  padding: 10px 25px;
  z-index: 15;
  background: #fff;
  height: 125px;
  text-align: justify;
  overflow: auto;
}
.to-do-list .to-do-list-delete {
  background: #e45;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  height: 50px;
  bottom: 1px;
  position: absolute;
  cursor: pointer;
  z-index: -1;
  -webkit-border-radius: 0 0px 2px 2px;
  -moz-border-radius: 0 0px 2px 2px;
  -o-border-radius: 0 0px 2px 2px;
  border-radius: 0 0px 2px 2px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.title-and-add{
    width: 80%;
    background: white;
    margin: auto;
    padding:1.5%;
    overflow: auto;
    margin-top: 2em;
}
.centre-and-add{
    width: 80%;
    margin: auto;
    padding:1.5%;
    overflow: auto;
    margin-top: 2em;
}
#box textarea{
    width: calc(100% - 10px);
} 
.status-list{
    text-align: center;
    background: #fff;
    position: relative;
    z-index: 15;
    margin-bottom: 60px;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    
}