{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset ='UTF-8'>
        <meta name = "viewport" content = "width=device-width, initial-scale =1.0">
        <meta http-equiv="X-UA Compatible" content ="ie=edge">
        <!-- Semua masukkin ya header footer css nya kayak gini -->
        <link rel="stylesheet" type="text/css" href = "{% static 'css/headerfooter.css' %}" />
        <!-- ini baru css sendiri2-->
        <link rel="stylesheet" type="text/css" href = "{% static 'css/dashBoard.css' %}" />
        <link href="https://fonts.googleapis.com/css?family=Muli|Ubuntu" rel="stylesheet"/>

        <link rel ="stylesheet" type = "text/css" href = "{% static 'css/profilePage.css' %}"/>
        <link rel ="stylesheet" href ="https://www.w3schools.com/w3css/4/w3.css">

        <title>
            {{title}}
        </title>
    </head>

    <body>
            <header>
                {% include "partials/header.html" %}
            </header>

            <content>
                {% block content %}
                <!--code goes here-->
                {% endblock %}
            </content>

            <footer>
                {% include "partials/footer.html" %}
            </footer>
    </body>
</html>