{% extends "layout/base.html" %}
{% load staticfiles %}
{% load static %}

{% block content %}
<div class = "normalize">
	
	<h4 style="text-align: left;">Profile</h4>
	<div style="text-align: center;"><img class="img-circle" src="https://kumparan.com/default-user.png"/></div>
	<hr />
		<section>
			<h2 style="text-align: center;">{{Profile.name}}</h2>
		</section>
	<hr />
	<section style="margin: auto;">
		<table style="width: 547px; height: 122px; text-align: left;" align="center">
			<tbody>
				<tr>
					<td style ="width: 169.2px">Birthday</td>
					<td style ="width: 356.8px">{{Profile.birthday}}</td>
				</tr>
				<tr>
					<td style ="width: 169.2px">Gender</td>
					<td style ="width: 356.8px">{{Profile.gender}}</td>
				</tr>
				<tr>
					<td style ="width: 169.2px">Expertise</td>
					{% for text in expertise %}
					<td>{{text}}</td>
					{% endfor %}
				</tr>
				</td>
				</p>
				<tr>
					<td style ="width: 169.2px">Description</td>
					<td style ="width: 356.8px">{{Profile.description}}</td>
				</tr>
				<tr>
					<td style ="width: 169.2px">Email</td>
					<td style ="width: 356.8px">{{Profile.email}}</td>
				</tr>
			</tbody>
		</table>
	</section>
	<section>

	</section>
	<hr />

</div>
{% endblock %}


