{% extends "layout/base.html" %}

{% block content %}
<div class = "normalize">
        
    <div class = "row_title" style="text-align: left">Add Friend</div>
    <h1></h1>
    <section name="input-status" id="input-status">
        <div class="container">
            <form class="title-and-add" method="POST" action="add_new_friend/">
                {% csrf_token %}
                <table>
                    <tr>
                        <td style="font-family: 'Muli'">
                            Name
                        </td>
                        <td>
                            <input type="text" name="name" id="" required="required" style="width: 910px;"/>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-family: 'Muli'">
                            URL
                        </td>
                        <td>
                            <input type="url" name="url" id="" required="required" style="width: 910px;" />
                        </td>
                    </tr>
                </table>
                <button type="submit" class="button btn-success" style="font-family: 'Muli'; float:right;" >Add Friend</button>
            </form>
        </div>
    </section>
    <section name="my-list" id="my-list">
        <div class="container">
            <h2 class="row_title">Friend List</h2>
            <div class="centre-and-add">
            <div class="flexfriend">
                {% if friend %}
                    {% for data in friend %}
                        <div class="flex-itemf">
                            {{data.name}}
                            <br>
                            {{data.date}}
                            <br>
                            <a href ="{{data.url}}">{{data.url}}</a>
                        </div>
                    {% endfor %}
                {% else %}
                <div class="alert alert-danger text-center">
                    <strong>Oops!</strong> Tidak ada teman :(.
                </div>
                {% endif %}
            </div>
            </div>
        </div>
    </section>

</div>
{% endblock %}

