{% extends "layout/base.html" %}

{% block content %}
<div class = "normalize">

    <div class = "card">
        <div class = "card_item">
            <div class = "col_1">
                STATISTIC
            </div>
            <div class = "row_title">
                <img src = "https://kumparan.com/default-user.png"/>
                {{profile.name}}
            </div>
            <div class = "row_1">
                <div class = "friend">
                    <div><b>Friend</b> : {{friend}} person</div>
                </div>
                <div class = "statistic">
                    <b>Feeds</b> : {{feed}} feed
                </div>
            </div>
            <div class = "row_1">
                <b>LastFeed :</b>
            </div>
            <div class = "flex">
            {%if lastFeed %}
                <div class = "flex-item">
                    <img src = "https://kumparan.com/default-user.png"/>
                    fran na jaya
                    <br>{{lastFeed.activity}}
                    <br>{{lastFeed.date}}
                </div>
            </div>
            {% else %}
            <div class="alert alert-danger text-center" style="font-family:'Muli'">
                You haven't posted anything :(
            </div>
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}